<header>
  <nav>
    <ul>
      <li><%= link_to'accueil', root_url %></li>
      <li><%= link_to'portfolio', portfolio_url %></li>
      <li><%= link_to'blog', blog_url %></li>
      <li><%= link_to'contact', contact_url %></li>
    </ul>
  </nav>
</header>